<header>
    <nav class="navbar navbar-default navbar-fixed-top"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Edit Profile
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid ajc-body-padded">

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="form" role="form">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input ng-model="model.user.firstName"
                           ng-readonly="model.user.google.id"
                           type="text"
                           id="firstName"
                           class="form-control"
                           placeholder="first name"
                           autocorrect="off"
                           spellcheck="false"/>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input ng-model="model.user.lastName"
                           ng-readonly="model.user.google.id"
                           type="text"
                           id="lastName"
                           class="form-control"
                           placeholder="last name"
                           autocorrect="off"
                           spellcheck="false"/>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input ng-model="model.user.email"
                           ng-readonly="model.user.google.id"
                           type="email"
                           id="email"
                           class="form-control"
                           placeholder="email address"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="false"/>
                </div>


                <div ng-show="!model.user.google.id"
                     class="form-group"
                     ng-class="{ 'has-error': form.password.$error.required && form.password.$dirty
                                || form.password.$error.required && model.submitted }">
                    <input ng-model="current_pass"
                           name="password"
                           type="password"
                           class="form-control"
                           placeholder="current password"
                           required/>
                    <span ng-show="form.password.$error.required && form.password.$dirty
                                    || form.password.$error.required && model.submitted"
                          class="help-block">
                        Current password is required
                    </span>
                </div>

                <div ng-show="!model.user.google.id"
                     class="form-group"
                     ng-class="{ 'has-error': form.newPassword.$error.required && form.newPassword.$dirty
                                || form.newPassword.$error.required && model.submitted }">
                    <input ng-model="new_pass"
                           name="newPassword"
                           type="password"
                           class="form-control"
                           placeholder="new password"
                           required/>
                    <span ng-show="form.newPassword.$error.required && form.newPassword.$dirty
                                    || form.newPassword.$error.required && model.submitted"
                          class="help-block">
                        New password is required
                    </span>
                </div>

                <div ng-show="!model.user.google.id"
                     class="form-group"
                     ng-class="{ 'has-error': form.verifyPassword.$error.required && form.verifyPassword.$dirty
                                || form.verifyPassword.$error.required && model.submitted }">
                    <input ng-model="verify_pass"
                           name="verifyPassword"
                           type="password"
                           class="form-control"
                           placeholder="verify new password"
                           required/>
                    <span ng-show="form.verifyPassword.$error.required && form.verifyPassword.$dirty
                                    || form.verifyPassword.$error.required && model.submitted"
                          class="help-block">
                        Verify new password
                    </span>
                </div>

                <div ng-show="!model.user.restaurantId"
                     class="form-group">
                    <input ng-model="newRestaurantId"
                           type="number"
                           id="restaurantId"
                           class="form-control"
                           autocorrect="off"
                           placeholder="restaurant id"
                           spellcheck="false"/>
                </div>
                <h6 ng-hide="!model.user.restaurantId">
                    Restaurant ID: {{model.user.restaurantId}}
                </h6>
            </div>



            <div class="col-sm-8"
                 ng-show="model.user.manager">
                <h5>Employees</h5>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th><span class="pull-right">Active</span></th>
                    </tr>
                    </thead>
                </table>

                <div class="row"
                     ng-repeat="employee in model.employees">
                    <div class="col-xs-5">
                        <p>{{employee.firstName}} {{employee.lastName}}</p>
                    </div>
                    <div class="col-xs-5">
                        <p>{{employee.email}}</p>
                    </div>

                    <div class="col-xs-2">
                        <div class="checkbox ajc-checkbox pull-right">
                            <label><input type="checkbox"
                                          ng-model="employee.active"
                                          ng-change="model.activatedChanged(employee)"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <a  ng-show="!model.user.google.id"
            class="btn btn-block btn-primary"
            ng-click="model.updateUser(current_pass, new_pass, verify_pass)">
            Update Profile
        </a>

        <a  ng-show="model.user.google.id && !model.user.restaurantId"
            class="btn btn-block btn-primary"
            ng-click="model.addRestaurantId(newRestaurantId)">
            Add Restaurant ID
        </a>

        <a  ng-hide="model.user.manager"
            class="btn btn-block btn-warning"
            href="#/user/{{model.user._id}}">
            Cancel
        </a>


        <div ng-show="!(model.employees.length)">
            <hr>

            <a  ng-click="model.unRegister()"
                class="btn btn-block btn-danger">
                Delete Account
            </a>
        </div>

    </form>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.uid}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.user._id}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>