<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Profile
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <h5>Joe Smith</h5>
    <hr>
    <h6>joe.smith@example.com</h6>
    <h6>Restaurant ID: 1234567</h6>
    <hr>

    <a  class="btn btn-block btn-primary"
        href="#/user/:uid/edit">
        Edit Profile
    </a>

    <a  class="btn btn-block btn-danger"
        href="#/login">
        Logout
    </a>

</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>

                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>

                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/:uid/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>

                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>


            </div>
        </div>
    </nav>
</footer>