<header>
    <nav class="navbar navbar-default navbar-fixed-top"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ng-show="model.user.manager"
                   class="navbar-brand">
                    Manager Profile
                </a>
                <a ng-hide="model.user.manager"
                   class="navbar-brand">
                    Profile
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid ajc-body-padded">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div>
                <h5>
                    {{model.user.firstName}}
                    {{model.user.lastName}}
                    <i ng-show="model.user.google.id"
                       class="fa fa-google-plus pull-right"
                       aria-hidden="true"></i>
                </h5>
            </div>
            <hr>
            <h6><b>Username</b>: {{model.user.username}}</h6>
            <h6><b>Email</b>: {{model.user.email}}</h6>
            <h6><b>Restaurant ID</b>: {{model.user.restaurantId}}</h6>
            <hr>
        </div>

        <div ng-show="model.user.manager"
             class="col-sm-8">
            <h5>Employees</h5>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in model.employees">
                            <td>{{employee.firstName}} {{employee.lastName}}</td>
                            <td>{{employee.username}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.active}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
    </div>


    <a  class="btn btn-block btn-primary"
        href="#/user/{{model.user._id}}/edit">
        Edit Profile
    </a>

    <a  class="btn btn-block btn-danger"
        ng-click="model.logout()">
        Logout
    </a>

</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.user._id}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.user._id}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.user._id}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.user._id}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>