<div class="container-fluid ajc-login-register-body">
    <header>
        <h1 class="ajc-page-header">Prepster</h1>
        <hr>
    </header>


    <h3>Login</h3>

    <form>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="username"/>
        </div>

        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="password"/>
        </div>

        <a  class="btn btn-block btn-primary"
            href="#/user/:uid">
            Login
        </a>

        <a  class="btn btn-block btn-success"
            href="#/register">
            Register
        </a>

    </form>
</div>