<header>
    <nav class="navbar navbar-default navbar-fixed-top"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ng-hide="model.user.manager"
                   class="navbar-brand">
                    Timers
                </a>
                <a ng-show="model.user.manager"
                   class="navbar-brand">
                    All Timers
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid ajc-body-padded">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <div ng-if="!model.user.active && model.unlocked"
         class="alert alert-danger"
         role="alert">
        Please ask your restaurant manager to activate your account to view timers
    </div>

    <div ng-show="model.unlocked && model.user.active">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li ng-repeat="timer in model.timers"
                        ng-if="model.testGetTimeRemaining(timer.timeEnd)[1] == 'r'"
                        class="list-group-item ajc-timer-danger">
                        <div class="row">
                            <div class="col-xs-6">
                                <a  href="#/user/{{model.uid}}/recipe/{{timer._recipe}}">
                                    <b class="ajc-wrap"><{{timer.name}}</b>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#user/{{model.uid}}/prep/timer-list">
                                    <span ng-click="model.deleteTimer(timer._id)"
                                          class="glyphicon glyphicon-trash pull-right"></span>
                                </a>
                                <p><b>{{model.testGetTimeRemaining(timer.timeEnd)[0]}}</b></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li ng-repeat="timer in model.timers"
                        ng-if="model.testGetTimeRemaining(timer.timeEnd)[1] == 'g'"
                        class="list-group-item ajc-timer-warning">
                        <div class="row">
                            <div class="col-xs-6">
                                <a  href="#/user/{{model.uid}}/recipe/{{timer._recipe}}">
                                    <b class="ajc-wrap">{{timer.name}}</b>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#user/{{model.uid}}/prep/timer-list">
                                    <span ng-click="model.deleteTimer(timer._id)"
                                          class="glyphicon glyphicon-trash pull-right ajc-list-glyphicon"></span>
                                </a>
                                <p><b>{{model.testGetTimeRemaining(timer.timeEnd)[0]}}</b></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li ng-repeat="timer in model.timers"
                        ng-if="model.testGetTimeRemaining(timer.timeEnd)[1] == 'w'"
                        class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6">
                                <a  href="#/user/{{model.uid}}/recipe/{{timer._recipe}}">
                                    <b class="ajc-wrap">{{timer.name}}</b>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#user/{{model.uid}}/prep/timer-list">
                                    <span ng-click="model.deleteTimer(timer._id)"
                                          class="glyphicon glyphicon-trash pull-right ajc-list-glyphicon"></span>
                                </a>
                                <p><b>{{model.testGetTimeRemaining(timer.timeEnd)[0]}}</b></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.uid}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>