<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Timers
                </a>
                <p class="navbar-text navbar-right">
                    <a class="navbar-link">
                        <span class="glyphicon glyphicon-plus pull-right ajc-nav-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item ajc-timer-danger">
                    <div class="row">
                        <div class="col-xs-6">
                            <a  href="#/user/:uid/recipe/:rid">
                                Beef Stew
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#user/:uid/prep/timer-list">
                                <span class="glyphicon glyphicon-trash pull-right ajc-list-glyphicon"></span>
                            </a>
                            <p class="pull-right">00:00:10</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item ajc-timer-warning">
                    <div class="row">
                        <div class="col-xs-6">
                            <a  href="#/user/:uid/recipe/:rid">
                                Buffalo Chicken Wrap
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#user/:uid/prep/timer-list">
                                <span class="glyphicon glyphicon-trash pull-right ajc-list-glyphicon"></span>
                            </a>
                            <p class="pull-right">00:01:10</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            <a  href="#/user/:uid/recipe/:rid">
                                Chicken Noodle Soup
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#user/:uid/prep/timer-list">
                                <span class="glyphicon glyphicon-trash pull-right ajc-list-glyphicon"></span>
                            </a>
                            <p class="pull-right">00:11:10</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            <a  href="#/user/:uid/recipe/:rid">
                                Chicken Breast
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#user/:uid/prep/timer-list">
                                <span class="glyphicon glyphicon-trash pull-right ajc-list-glyphicon"></span>
                            </a>
                            <p class="pull-right">00:21:10</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/:uid/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>