body {
    /* https://css-tricks.com/snippets/css/better-helvetica/ */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    background: #4d4d4d;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4% 4%;
    text-decoration: none;
    transition: 0.5s ease;
}

li a:hover {
    background-color: #000;
    /* w3schools.com */
    box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#container {
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;


    background-color: #009933;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    padding: 0;
    max-width: 600px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#name {
    padding: 5%
}

#profile-picture {
    width: 30%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#name-picture-wrapper {
    overflow: hidden;
}

#name-div {
    float: left;
    margin: 5%;
}

#picture-div {
    margin: 5%;
}

#footer {
    padding: 2%;
}

