body {
    padding-top : 60px;
    padding-bottom : 60px;
}

.login-register-body {
    padding-top: 0;
    padding-bottom: 0;
}

span.glyphicon {
    margin-right: 15px;
    margin-left: 15px;
}

.back-button {
    float: left;
}

.table th {
    border: none !important;
}

.table td {
    border-top: none !important;
}

.borderless {
    border:0 !important;
}

.widget-cog-container {
    right: 16px;
    position: absolute;
    background: white;
    padding: 3px;
    border-radius: 2px;
}

span.widget-cog {
    /*background-color: white;*/
    /*top: 20px;*/
    /*left: 20px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    border-radius: 3px;
    margin-right: 0;
    margin-left: 0;
}