body {
    padding-top : 60px;
    padding-bottom : 60px;
}

.ajc-search {
    padding-bottom: 5px;
}

.ajc-flickr-image {
    padding: 1px;
}

.ajc-widget-container {
    z-index: 1000;
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 2px;
}

.ajc-nav-glyphicon {
    margin-left: 15px;
    margin-right: 15px;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

.list-group-item {
    border: 0;
}

.list-group {
    font-size: 15px;
}

a {
    text-decoration: none !important;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

