body {
    padding-top : 60px;
    padding-bottom : 60px;
}

.login-register-body {
    padding-top: 0;
    padding-bottom: 0;
}

span.glyphicon {
    margin-right: 15px;
    margin-left: 15px;
}

.back-button {
    float: left;
}

.table th {
    border: none !important;
}

.table td {
    border-top: none !important;
}

.borderless {
    border:0 !important;
}

.widget-container {
    right: 15px;
    position: absolute;
    background: white;
    border-radius: 2px;
}

span.widget {
    border-radius: 3px;
    margin: 1px;
}