<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Recipe Book
                </a>
                <p class="navbar-text navbar-right">
                    <a href="#/user/{{model.uid}}/recipe/new"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus pull-right ajc-nav-glyphicon"></span>
                    </a>
                </p>

            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <!-- http://stackoverflow.com/questions/24682421/put-search-icon-near-textbox-using-bootstrap -->
    <div class="form-group has-feedback">
        <input type="text"
               class="form-control"
               placeholder="Search my recipes...">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h5>Recent</h5>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="recipe in model.recipeBook"
                    ng-if="recipe.recent">
                    <a ng-click="model.addToPrepToDo(recipe._id)">
                        <span class="btn btn-success glyphicon glyphicon-plus-sign pull-right"></span>
                    </a>
                    <a  href="#/user/{{model.uid}}/recipe/{{recipe._id}}/edit">
                        <span class="btn btn-danger glyphicon glyphicon-pencil pull-right"></span>
                    </a>
                    <a  href="#/user/{{model.uid}}/recipe/{{recipe._id}}">
                        {{recipe.name}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <h5>All</h5>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="recipe in model.recipeBook">
                    <a ng-click="model.addToPrepToDo(recipe._id)">
                        <span class="btn btn-success glyphicon glyphicon-plus-sign pull-right"></span>
                    </a>
                    <a  href="#/user/{{model.uid}}/recipe/{{recipe._id}}/edit">
                        <span class="btn btn-danger glyphicon glyphicon-pencil pull-right"></span>
                    </a>
                    <a  href="#/user/{{model.uid}}/recipe/{{recipe._id}}">
                        {{recipe.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.uid}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>