<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left ajc-nav-glyphicon"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    View Recipe
                </a>
                <p class="navbar-text navbar-left pull-right">
                    <a ng-click="model.addToPrepToDo()"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus-sign ajc-nav-glyphicon"></span>
                    </a>
                </p>

            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <h5>{{model.recipe.name}}</h5>
    <div class="row">
        <div class="col-xs-6">
            <p><b>Prep Time (min):</b> {{model.recipe.prepTime}}</p>
        </div>
        <div class="col-xs-6">
            <p><b>Type:</b> {{model.recipe.type}}</p>
        </div>
    </div>
    <p>
        {{model.recipe.description}}
    </p>
    <hr>

    <div class="row">
        <div class="col-sm-6">

            <div class="row">
                <div class="col-xs-8">
                    <h5>Ingredients</h5>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="multiplier">Multiplier</label>
                        <input ng-model="model.multiplier"
                               type="number"
                               min="1"
                               id="multiplier"
                               class="form-control"
                               value="1"/>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Amount</th>
                            <th>Measure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ingredient in model.recipe.ingredients">
                            <td>{{ ingredient.name }}</td>
                            <td><p ng-show="ingredient.amount">{{(ingredient.amount|number) * (model.multiplier|number)}}</p></td>
                            <td>{{ ingredient.measure }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>
        </div>
        <div class="col-sm-6">

            <h5>Directions</h5>
            <p>{{model.recipe.directions}}</p>

            <div class="row">
                <div class="col-xs-6">
                    <label for="timer">Minutes: </label>
                    <input ng-model="newTimerTime"
                           id="timer"
                           type="number"
                           title="timer"
                           min="1"
                           class="form-control"
                           placeholder="2"/>
                </div>
                <div class="col-xs-6">
                    <a  ng-click="model.addTimer(newTimerTime)"
                        class="btn btn-block btn-success">
                        Add Timer
                    </a>
                </div>
            </div>


            <hr>
        </div>
    </div>
    <a  class="btn btn-block btn-danger"
        href="#/user/{{model.uid}}/recipe/{{model.rid}}/edit">
        Edit Recipe
    </a>

</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.uid}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>