<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/user/{{model.uid}}/recipe/{{model.rid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left ajc-nav-glyphicon"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Edit Recipe
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid ajc-body-padded">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>


    <form name="form" role="form">
        <div class="form-group"
             ng-class="{ 'has-error': form.recipeName.$error.required && form.password.$dirty || form.recipeName.$error.required && model.submitted}">
            <label for="recipename">Recipe Name</label>
            <input ng-model="model.recipe.name"
                   type="text"
                   id="recipename"
                   name="recipeName"
                   class="form-control"
                   placeholder="recipe name"
                   required/>
            <span ng-show="form.password.$error.required && form.recipeName.$dirty || form.recipeName.$error.required && model.submitted"
                  class="help-block">
                Password is required
            </span>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea ng-model="model.recipe.description"
                      rows="3"
                      id="description"
                      class="form-control ajc-light-border"
                      placeholder="Lorem ipsum dolor sit amet..."></textarea>
        </div>

        <div class="form-group">
            <label for="type">Type</label>
            <select ng-model="model.recipe.type"
                    class="form-control"
                    id="type">
                <option value="soup">Soup</option>
                <option value="sandwitch">Sandwich</option>
                <option value="salad">Salad</option>
                <option value="entree">Entree</option>
                <option value="dessert">Dessert</option>
                <option value="side">Side Dish</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="preptime">Prep Time (minutes)</label>
            <input ng-model="model.recipe.prepTime"
                   type="number"
                   id="preptime"
                   min="0"
                   class="form-control"
                   placeholder="prep time"/>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Amount</th>
                            <th>Measure</th>
                        </tr>
                    </thead>
                </table>

                <div class="row"
                     ng-repeat="ingredient in model.recipe.ingredients">
                    <div class="col-xs-4">
                        <input ng-model="ingredient.name"
                               type="text"
                               class="form-control"
                               placeholder="name"/>
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="ingredient.amount"
                               type="number"
                               class="form-control"
                               placeholder="amount"/>
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="ingredient.measure"
                               type="text"
                               class="form-control"
                               placeholder="measurement"/>
                    </div>
                    <div class="col-xs-2">
                        <span ng-click="model.removeIngredient(ingredient._id)"
                        class="btn btn-danger glyphicon glyphicon-remove pull-right"></span>

                    </div>
                </div>
                <div ng-click="model.addIngredientRow()"
                     class="btn btn-primary btn-block">
                    Add Ingredient
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="directions">Directions</label>
                    <textarea ng-model="model.recipe.directions"
                              rows="5"
                              id="directions"
                              class="form-control ajc-light-border"
                              placeholder="Lorem ipsum dolor sit amet..."></textarea>
                </div>
            </div>
        </div>

        <hr>

        <a  ng-click="model.updateRecipe()"
            class="btn btn-block btn-success">
            <!--href="#/user/{{model.uid}}/recipe/{{model.rid}}">-->
            Save Changes
        </a>
        <a  ng-click="model.deleteRecipe()"
            class="btn btn-block btn-danger">
            <!--href="#/user/{{model.uid}}/recipe/recipe-book">-->
            Delete
        </a>



    </form>
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.uid}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>