<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
    <!--<title>Profile</title>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../../css/styles.css">-->
<!--</head>-->
<!--<body>-->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Profile
                </a>
                <p class="navbar-text navbar-right">
                    <a href="profile.view.client.html"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok pull-right ajc-nav-glyphicon"></span>
                    </a>
                </p>

            </div>
        </div>
    </nav>

</header>




<div class="container-fluid">

    <!--PLACEHOLDERS FOR ALERTS AT TOP- NOT USED FOR ASSIGNMENT 2-->
    <!--<div class="alert alert-success">-->
        <!--Successfully updated your profile-->
    <!--</div>-->

    <!--<div class="alert alert-danger">-->
        <!--Unable to update your profile-->
    <!--</div>-->
    <!------------------------------------------------------------->

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username"
                   id="username"
                   type="text"
                   class="form-control"
                   placeholder="alice"
                   value="ajdcolcord"/>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input name="email"
                   id="email"
                   type="email"
                   class="form-control"
                   placeholder="alice@wonderland.com"
                   value="ajdcolcord@gmail.com"/>
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input name="first-name"
                   id="first-name"
                   type="text"
                   class="form-control"
                   placeholder="Alice"
                   value="Austin"/>
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input name="last-name"
                   id="last-name"
                   type="text"
                   class="form-control"
                   placeholder="Wonderland"
                   value="Colcord"/>
        </div>

        <a  class="btn btn-block btn-primary"
            href="../website/website-list.view.client.html">
            Websites
        </a>

        <a  class="btn btn-block btn-danger"
            href="#/login">
            Logout
        </a>
    </form>
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-right">
                    <a href="#/profile">
                        <span class="glyphicon glyphicon-user ajc-nav-glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>

<!--</body>-->
<!--</html>-->