<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Statements
            </a>
            <p class="navbar-text pull-right">
                <a href="/wam/statement/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 70px">
    <ul class="list-group">
        <!--<%  for(var s in statements) {-->
        <!--%>      <li class="list-group-item">-->
            <a href="/wam/script/statement">statement123</a>
            <a href="/wam/script/" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        <!--</li>-->
        <%  }
        %>
    </ul>
</div>
