<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left pull-left ajc-nav-glyphicon"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Widgets
                </a>
                <p class="navbar-text navbar-right">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus pull-right ajc-nav-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>


<div class="container-fluid">

    <div ng-repeat="widget in model.widgets"
         ng-switch="widget.widgetType">

        <div ng-switch-when="HEADER"
             class="ajc-widget">

            <div class="ajc-widget-container">
                <a  href="widget-header.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
                <h1 ng-switch-default>{{widget.text}}</h1>
            </div>

        </div>
        <div ng-switch-when="IMAGE"
             class="ajc-widget">
            <img ng-src="{{widget.url}}"
                 width="{{widget.width}}"/>
        </div>
        <div ng-switch-default>{{widget}}</div>
    </div>


    <!---->
    <div ng-repeat="widget in model.widgets">
        <!--HEADER-->
        <!--<div class="ajc-widget"-->
             <!--ng-if="widget.widgetType === 'HEADER'">-->
            <!--<div class="ajc-widget-container">-->
                <!--<a  href="widget-header.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->
            <!--<h1>{{widget.text}}</h1>-->
        <!--</div>-->

        <!--IMAGE-->
        <!--<div class="ajc-widget"-->
             <!--ng-if="widget.widgetType === 'IMAGE'">-->
            <!--<div class="ajc-widget-container">-->
                <!--<a  href="widget-image.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->
            <!--<img class="img-responsive"-->
                 <!--ng-src="{{widget.url}}"/>-->
        <!--</div>-->

        <!--YOUTUBE-->
        <div class="ajc-widget"
             ng-if="widget.widgetType === 'YOUTUBE'">
            <div class="ajc-widget-container">
                <a  href="widget-youtube.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        width="100%"
                        ng-src="{{widget.url}}"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <!--HTML-->

        <div class="ajc-widget"
             ng-if="widget.widgetType === 'HTML'">
            <div class="ajc-widget-container">
                <a  href="">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            {{widget.text}}
        </div>

        <!--<div class="ajc-widget">-->
            <!--<div class="ajc-widget-container">-->
                <!--<a  href="widget-header.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->

            <!--<h4>SpaceX</h4>-->
        <!--</div>-->

        <!--<div class="ajc-widget">-->

            <!--<div class="ajc-widget-container">-->
                <!--<a  href="widget-youtube.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->

            <!--<div class="embed-responsive embed-responsive-16by9">-->
                <!--<iframe class="embed-responsive-item"-->
                        <!--width="100%"-->
                        <!--src="https://www.youtube.com/embed/lEr9cPpuAx8"-->
                        <!--frameborder="0"-->
                        <!--allowfullscreen></iframe>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="ajc-widget">-->
            <!--<div class="ajc-widget-container">-->
                <!--<a  href="">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->
            <!--<p>SpaceX landed its first rocket successfully-->
                <!--at Landing Zone 1, at Cape Canaveral-->
                <!--<a href="http://gizmodo.com/spacex-has-sent-a-rocket-to-space-and-back-to-earth-1749192599#_ga=1.210112213.1366711378.1442769390">-->
                    <!--on December 22nd, 2015-->
                <!--</a>.-->
                <!--The second rocket touched down on the ocean barge named-->
                <!--<em>Of Course I Still Love You</em>-->
                <!--<a href="http://gizmodo.com/spacexs-falcon-9-rocket-just-made-the-first-ocean-barge-1769942283#_ga=1.11429236.1366711378.1442769390">on April 8th, 2016</a>-->
                <!--. And the third one successfully landed on the same drone-->
                <!--raft-->
                <!--<a href="http://gizmodo.com/spacex-just-made-its-fastest-succesful-rocket-landing-o-1775060445#_ga=1.11429236.1366711378.1442769390">-->
                    <!--on May 10th, 2016</a>.-->
            <!--</p>-->
        <!--</div>-->
    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a href="">
                        <span class="glyphicon glyphicon-play ajc-nav-glyphicon"></span>
                    </a>
                </div>
                <div class="navbar-text pull-left">
                    <a href="">
                        <span class="glyphicon glyphicon-eye-open ajc-nav-glyphicon"></span>
                    </a>
                </div>

                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user ajc-nav-glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>