<div class="ajc-login-register-body">
    <header>
        <!--http://startbootstrap.com/template-overviews/business-frontpage/-->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand pull-left ajc-no-decoration">Prepper</a>
                <a class="navbar-brand pull-right" href="#/login">Login</a>
            </div>
        </nav>
    </header>


    <div class="ajc-body-padded">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Prepper</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <hr>

            <div class="row">
                <div class="col-sm-8">
                    <h2>The Complete Prep Station</h2>
                    <p>Whether you need to store your favorite recipes, organize tasks for your restaurant's prep
                        staff, or set a timer for something in the oven, Prepper is here for you!</p>
                    <p>Created with the restaurant in mind, Prepper is a unique web application that keeps the focus on what the
                        cooks are working on. Collaborate and organize more effectively with your staff through an easy
                        to use interface that allows quick organization of tasks.</p>
                    <p>Prepper works well and looks beautiful on any smartphone, tablet, or desktop and is available from anywhere.</p>
                    <p></p>
                    <p>
                        <a class="btn btn-success btn-lg ajc-center-text" href="#/login">Sign Up or Login &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Powerful Search Tools</h3>
                    <p>Search quickly through your recipes, or explore public recipes for new ideas!</p>
                    <p>
                        <a class="btn btn-block btn-warning btn-default" href="#/search">Explore Recipes &raquo;</a>
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <i class="fa fa-book fa-5x ajc-center-text" aria-hidden="true"></i>
                    <h3 class="ajc-center-text">Recipe Book</h3>
                    <p>Store and manage all of the restaurant's recipes in one convenient place. See which recipes you have
                        added, worked on, or modified within the last 5 days along with the list of all of your recipes.
                        Use powerful tools to start a timer while you're viewing a recipe, add it to the prep ToDo list,
                        and even see ingredient measurements with a built-in portion multiplier.</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-list-alt fa-5x ajc-center-text" aria-hidden="true"></i>
                    <h3 class="ajc-center-text">Prep List</h3>
                    <p>Be more collaborative with your kitchen staff, through an engaging view of the tasks that need to be prepared.
                       Organized clearly into three sections - ToDo, In Progress, and Completed - all employees can see what is
                       going on in the kitchen, and keep track of who is working on what.</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-clock-o fa-5x ajc-center-text" aria-hidden="true"></i>
                    <h3 class="ajc-center-text">Timers</h3>
                    <p>Enjoy the flexibility of creating multiple timers in order to keep track of what you are cooking.
                        Through the employee view, see a personalized set of timers created only by you. As a restaurant manager, you
                        can see all ongoing timers from all of your employees in an instant.</p>
                </div>
            </div>

            <hr>

            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Austin Colcord</p>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</div>