<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Prep List
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h5>To-Do</h5>
            <ul class="list-group prep-list-container">
                <li ng-repeat="recipe in model.prepList.toDo"
                    class="list-group-item">
                    <span ng-click="model.moveToInProgress(recipe)"
                          class="glyphicon glyphicon glyphicon-arrow-right pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/{{model.uid}}/recipe/{{recipe._recipeId}}">
                        {{recipe.name}}
                    </a>
                    <span ng-if="recipe.important"
                          class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h5>In Progress</h5>
            <ul class="list-group prep-list-container">
                <li ng-repeat="recipe in model.prepList.inProgress"
                    class="list-group-item">
                    <span ng-click="model.moveToCompleted(recipe)"
                          class="glyphicon glyphicon glyphicon-arrow-right pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/{{model.uid}}/recipe/{{recipe._recipeId}}">
                        {{recipe.name}}
                    </a>
                    <span ng-if="recipe.important"
                          class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>
                    <div class="ajc-prep-signature pull-right">
                        <input ng-model="recipe.signer"
                               type="text"
                               class="form-control"
                               placeholder="sign"/>
                    </div>
                    <p>{{recipe.timeStamp}}</p>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h5>Completed</h5>
            <ul class="list-group prep-list-container">
                <li ng-repeat="recipe in model.prepList.completed"
                    class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/{{model.uid}}/recipe/{{recipe._recipeId}}">
                        {{recipe.name}}
                    </a>
                    <span ng-if="recipe.important"
                          class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>
                    <span ng-click="model.removeFromPrepCompletedList(recipe)"
                          class="glyphicon glyphicon-remove pull-right ajc-list-glyphicon"></span>
                    <div class="ajc-prep-signature pull-right">
                        <p>{{recipe.signer}}</p>
                    </div>
                    <p>{{recipe.timeStamp}}</p>
                </li>
            </ul>
        </div>


    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.uid}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>