<header>
    <nav class="navbar navbar-default navbar-fixed-top"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Prep List
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid ajc-body-padded">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <div ng-if="!model.user.active && model.unlocked"
         class="alert alert-danger"
         role="alert">
        Please ask your restaurant manager to activate your account to view the prep list
    </div>

    <div ng-show="model.unlocked && model.user.active">
        <div class="form-group has-feedback">
            <input type="text"
                   ng-model="searchTerm"
                   class="form-control"
                   placeholder="Search for a ticket...">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h5>To-Do</h5>
                <ul class="list-group prep-list-container"
                    ajc-sortable
                    sorted="model.sorted(start, end)"
                    data="model.prepList.toDo">
                    <li ng-repeat="recipe in model.prepList.toDo | orderBy : 'order'"
                        class="list-group-item"
                        ng-if="(recipe.name.toLowerCase().indexOf(searchTerm.toLowerCase()) > -1
                                || searchTerm == ''
                                || searchTerm == null)">
                        <i ng-show="searchTerm == '' || searchTerm == null"
                           class="fa fa-bars btn ajc-ticket-handle"
                           aria-hidden="true"></i>

                        <a  href="#/user/{{model.uid}}/recipe/{{recipe._recipeId}}">
                            <b class="ajc-wrap">{{recipe.name}}</b>
                        </a>
                        <span ng-if="recipe.important"
                              class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>
                        <span ng-click="model.moveToInProgress(recipe)"
                              class="glyphicon glyphicon glyphicon-arrow-right ajc-list-glyphicon pull-right"></span>
                        <div>
                            <div class="ajc-prep-signature">
                                <input ng-model="recipe.notes"
                                       type="text"
                                       class="form-control"
                                       placeholder="sign / notes"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5>In Progress</h5>
                <ul class="list-group prep-list-container">
                    <li ng-repeat="recipe in model.prepList.inProgress"
                        class="list-group-item"
                        ng-if="(recipe.name.toLowerCase().indexOf(searchTerm.toLowerCase()) > -1
                                || searchTerm == ''
                                || searchTerm == null)">
                        <span ng-click="model.moveBackToToDo(recipe)"
                              class="glyphicon glyphicon glyphicon-arrow-left pull-left ajc-list-glyphicon"></span>
                        <span ng-click="model.moveToCompleted(recipe)"
                              class="glyphicon glyphicon glyphicon-arrow-right pull-right ajc-list-glyphicon"></span>
                        <a  href="#/user/{{model.uid}}/recipe/{{recipe._recipeId}}">
                            <b class="ajc-wrap">{{recipe.name}}</b>
                        </a>
                        <hr>
                        <span ng-if="recipe.important"
                              class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>
                        <p>Started: {{recipe.timeStamp | date: 'MMM d - h:mm:ss a'}}</p>
                        <div class="ajc-prep-signature">
                            <input ng-model="recipe.notes"
                                   type="text"
                                   class="form-control"
                                   placeholder="sign / notes"/>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5>Completed</h5>
                <ul class="list-group prep-list-container">
                    <li ng-repeat="recipe in model.prepList.completed"
                        class="list-group-item"
                        ng-if="(recipe.name.toLowerCase().indexOf(searchTerm.toLowerCase()) > -1
                                || searchTerm == ''
                                || searchTerm == null)">
                        <a href="#/user/{{model.uid}}/recipe/{{recipe._recipeId}}">
                            <b class="ajc-wrap">{{recipe.name}}</b>
                        </a>
                        <span ng-if="recipe.important"
                              class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>
                        <span ng-click="model.removeFromPrepCompletedList(recipe)"
                              class="glyphicon glyphicon-remove pull-right ajc-list-glyphicon"></span>
                        <hr>
                        <div class="ajc-prep-signature">
                            <p class="ajc-wrap">{{recipe.notes}}</p>
                        </div>
                        <p>Started: {{recipe.timeStamp | date: 'MMM d - h:mm:ss a'}}</p>
                        <p>Completed: {{recipe.completeTime | date: 'MMM d - h:mm:ss a'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom"
         ng-class="model.user.manager && 'ajc-manager' || ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/{{model.uid}}/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/{{model.uid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>