<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Prep List
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">
            <h5>To-Do</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/:uid/recipe/:rid">
                        Buffalo Chicken Wrap
                    </a>
                    <span class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/:uid/recipe/:rid">
                        Chicken Noodle Soup
                    </a>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/:uid/recipe/:rid">
                        Beef Stew
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h5>In Progress</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/:uid/recipe/:rid">
                        Lobster Salad
                    </a>
                    <div class="ajc-prep-signature pull-right">
                        <input type="text"
                               class="form-control"
                               placeholder="sign"
                               value="AC"/>
                    </div>

                    <p>May 22 - 12:45pm</p>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/:uid/recipe/:rid">
                        Bacon
                    </a>
                    <span class="glyphicon glyphicon-exclamation-sign pull-right ajc-list-glyphicon"></span>

                    <div class="ajc-prep-signature pull-right">
                        <input type="text"
                               class="form-control"
                               placeholder="sign"
                               value="CW"/>
                    </div>

                    <p>May 22 - 11:56am</p>


                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h5>Completed</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/:uid/recipe/:rid">
                        Beef Chili
                    </a>
                    <p class="pull-right">
                        JM
                    </p>
                    <p>May 22 - 10:45am</p>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon glyphicon-align-justify pull-right ajc-list-glyphicon"></span>
                    <a  href="#/user/:uid/recipe/:rid">
                        Caesar Dressing
                    </a>

                    <p class="pull-right">
                        CW
                    </p>
                    <p>May 22 - 8:41am</p>

                </li>
            </ul>
        </div>


    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid/recipe/recipe-book"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon glyphicon-book"></span>
                    </a>
                </p>

                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid/prep/prep-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    </a>
                </p>

                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#user/:uid/prep/timer-list"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </p>

                <p class="navbar-text col-xs-3 ajc-nav-column-centered">
                    <a href="#/user/:uid"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>


            </div>
        </div>
    </nav>
</footer>